@model IEnumerable<AspNet.AzureStorage.Sample.Models.File>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form id="uploadfiles" method="POST" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="uploadwrapper">
        <span>Add Files</span>
        <input type="file" accept="image/*" multiple="multiple" />
    </div>
    <input type="submit" name="save" value="Verstuur">
</form>

<table id="uploadqueue">

</table>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Container)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Md5)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@ImageHelper.GetImageUrl(item, ImageSizes.Thumbnail)"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Container)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Md5)
        </td>
    </tr>
}

</table>